/* define color palette */
:root {
  --base-light: #FCFFF6;
  --base-pink: #EA5D7B;
  --base-pink-light: #F6B7C4;
  --base-yellow: #FDD049;
  --base-yellow-light: #FEEAAE;
  --text: #282223;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Recursive';
  height: 100%;
  overflow: hidden;
}

div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}


p {
  font-size: 20px;
  text-align: center;
}

.app {
  background-color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}